.carrito-container {
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: sticky;
  top: 20px;
}
h2{
  color:black;
}
.carrito-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 0.9rem;
  color: black;
}
.btn-pagar {
  width: 100%;
  background-color: #27ae60;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}